body {
    margin: 0px;
    padding: 0px;
    background-color: #FBFEF9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header styling */

header {
    display: flex;
    position:sticky;
    top:0;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1611517976630-163467322778?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    align-items: center;
    padding: 20px;

}
#nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    padding: 0;
    /* text-align: right; */
}
#nav li{
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 5vw;
    cursor: pointer;
    text-shadow: 1px 1px 1px #191923;
    color: #4f9d69;
    font-weight: 600;
    /* text-decoration: underline; */
    font-size: 19pt;
}

#logos {
    display: block ;
}

#main-logo {
    font-size: 50pt;
    font-weight: bold;
    margin-left: 3vw;
    text-shadow: 2px 2px 2px #191923;
    color: #0E79b2;
    text-decoration: none;
}

#small-logo {
    font-size: 12pt;
    margin-left: 4vw;
    font-weight: 500;
    text-shadow: 1px 1px 1px #191923;
    color: #4f9d69;
    text-decoration: none;
}

a.nav-bar:link{
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    box-shadow: inset 0 0 0 0 #4f9d69;
    transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    color: #0E79b2;
    text-decoration: none;
}

a.nav-bar:visited{
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    box-shadow: inset 0 0 0 0 #4f9d69;
    transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    color: #0E79b2;
    text-decoration: none;
}

a.nav-bar:hover{
    color: white;
    box-shadow: inset 150px 0 0 0 #4f9d69;
}

/* a.nav-bar:hover{
    box-shadow: 0 0 10px 0 #0E79b2 inset, 0 0 10px 4px #0E79b2;
} */

/* home page styling */

.post-feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin: 50px
    

}

.post-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4f9d69;
    transition: all ease-out 100ms;
    width: 460px;
    height: 610px;
    /* border: solid #191923 2px; */
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    
}

.post-body:hover {
    background-color: #0E79b2;
}

.home-image {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.title{
    color:#FBFEF9;
    text-shadow: 2px 2px 2px #191923;
    padding: 0;
    margin: 0;
    margin-top: 25px;

}

a.post-link:link {
    text-decoration: none;
    color: #191923 
}

a.post-link:visited {
    text-decoration: none;
    color: #191923
}

.post-page{
    margin: 100px;
}

.single-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* how it works page styling */

#works{
    margin: 20vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#works-h1{
    font-size: 30pt;
    color:#0E79b2;
    text-shadow: 1px 1px 1px #191923;
    
}

#works-p{
    font-size: 17pt;
}

/* new post page styling */

#new-post{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#post-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

#post-h2 {
    padding: 10px;
    color: #0E79b2;
    font-size: 24pt;
    text-shadow: 1px 1px #191923;
}

input {
    border: solid 1px #191923
}

textarea {
    border: solid 1px #191923
}

label {
    font-size: 14pt;
}

#submit-button{
    background-color: #4f9d69;
    color: #FBFEF9;
    border: solid #191923 1px;
    box-shadow: 2px 2px 2px #191923;
    text-shadow: 2px 2px 2px #191923;
    transition: all 150ms ease-in-out;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}

#submit-button:hover {
    background-color: #0E79b2;
}


